*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #dee2e6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.card-title{
    margin: 10px;
}
.weathercard{
    background-color: #ced4da;
    /* background-color: rgb(96, 96, 96); */

    border-radius: 8px;
    box-shadow: 14px 14px 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.weatherdetails{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.cards{
    box-shadow: #333;
    box-shadow: 1px 1px 8px;
    height: 70px;
    width: 110px;
}